@use "@toy-element/theme/src/mixins/mixins.scss" as *;

.#{$namespace}-collapse {
  --#{$namespace}-collapse-border-color: var(
    --#{$namespace}-border-color-light
  );
  --#{$namespace}-collapse-header-height: 48px;
  --#{$namespace}-collapse-header-bg-color: var(
    --#{$namespace}-fill-color-blank
  );
  --#{$namespace}-collapse-header-text-color: var(
    --#{$namespace}-text-color-primary
  );
  --#{$namespace}-collapse-header-font-size: 13px;
  --#{$namespace}-collapse-content-bg-color: var(
    --#{$namespace}-fill-color-blank
  );
  --#{$namespace}-collapse-content-font-size: 13px;
  --#{$namespace}-collapse-content-text-color: var(
    --#{$namespace}-text-color-primary
  );
  --#{$namespace}-collapse-disabled-text-color: var(
    --#{$namespace}-disabled-text-color
  );
  --#{$namespace}-collapse-disabled-border-color: var(
    --#{$namespace}-border-color-lighter
  );
  border-top: 1px solid var(--#{$namespace}-collapse-border-color);
  border-bottom: 1px solid var(--#{$namespace}-collapse-border-color);
}
