@use "@toy-element/theme/src/mixins/mixins.scss" as *;

$table-cell-padding: 12px;
$table-header-font-size: 14px;
$table-shadow-opacity: rgba(0, 0, 0, 0.15);
$table-fixed-shadow-width: 8px;

@include b(table) {
  // CSS 变量定义
  --#{$namespace}-table-border-color: #ebeef5;
  --#{$namespace}-table-header-bg-color: #f5f7fa;
  --#{$namespace}-table-header-text-color: #909399;
  --#{$namespace}-table-row-hover-bg-color: #f5f7fa;
  --#{$namespace}-table-stripe-bg-color: #fafafa;
  --#{$namespace}-table-text-color: #606266;
  --#{$namespace}-table-border-radius: 4px;
  --#{$namespace}-table-bg-color: #fff;

  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--#{$namespace}-table-bg-color);

  @include e(inner-wrapper) {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @include e(header-wrapper) {
    flex-shrink: 0;
    overflow: hidden;
  }

  @include e(body-wrapper) {
    flex: 1;
    overflow: auto;
  }

  // 表头样式
  @include e(header) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    tr {
      line-height: 24px;
    }

    th {
      background-color: var(--#{$namespace}-table-header-bg-color);
      color: var(--#{$namespace}-table-header-text-color);
      font-weight: 600;
      font-size: $table-header-font-size;
      text-align: left;
      border-bottom: 1px solid var(--#{$namespace}-table-border-color);

      // &:nth-last-child(2) {
      //   border-right: none;
      // }
    }
    th.gutter {
      position: sticky;
      right: 0;
      z-index: 4;
      padding: 0;
      border: none;
      background-color: var(--#{$namespace}-table-header-bg-color);
    }
  }

  // 表体样式
  @include e(body) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    td {
      line-height: 24px;
      border-bottom: 1px solid var(--#{$namespace}-table-border-color);
    }
    // 行悬停效果
    tr {
      transition: background-color 0.2s ease;
      &:hover {
        background-color: var(--#{$namespace}-table-row-hover-bg-color);
        td.is-fixed-left,
        td.is-fixed-right {
          background-color: var(--#{$namespace}-table-row-hover-bg-color);
        }
      }
    }
  }

  // 单元格样式
  @include e(cell) {
    padding: $table-cell-padding;
    width: 100%;
    box-sizing: border-box;
  }

  .#{$namespace}-table__header-label,
  .#{$namespace}-table__cell-content {
    width: 100%;
    // white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
    transition: background-color 0.2s ease;
    word-wrap: break-word;
  }

  // 空数据样式
  @include e(empty-cell) {
    text-align: center;
    color: #909399;
    padding: 40px 0 !important;
  }
  // 斑马纹样式
  @include m(stripe) {
    .#{$namespace}-table__body {
      tr:nth-child(even) {
        background-color: var(--#{$namespace}-table-stripe-bg-color);

        td.is-fixed-left,
        td.is-fixed-right {
          background-color: var(--#{$namespace}-table-stripe-bg-color);
        }
      }
      tr:nth-child(even):hover {
        td.is-fixed-left,
        td.is-fixed-right {
          background-color: var(--#{$namespace}-table-row-hover-bg-color);
        }
      }
    }
  }
  // 边框样式
  @include m(border) {
    border: 1px solid var(--#{$namespace}-table-border-color);
    border-radius: var(--#{$namespace}-table-border-radius);
    .#{$namespace}-table__inner {
      border-radius: var(--#{$namespace}-table-border-radius);
    }
    th,
    td {
      border-right: 1px solid var(--#{$namespace}-table-border-color);
      &:last-child {
        border-right: none;
      }
    }

    .is-fixed-left,
    .is-last-column {
      border-right: none;
    }

    .is-fixed-right.is-first-column {
      border-left: none;
    }
  }

  // 固定高度时
  &.has-fixed-height {
    .#{$namespace}-table__inner-wrapper {
      height: 100%;
    }
  }

  th.is-fixed-left,
  td.is-fixed-left,
  th.is-fixed-right,
  td.is-fixed-right {
    position: sticky;
    z-index: 10;
    background-color: var(--#{$namespace}-table-bg-color);

    // 嵌套左侧固定列专属样式
    &.is-fixed-left {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $table-fixed-shadow-width;
        transform: translate(100%);
        box-shadow: inset 10px 0 10px -10px $table-shadow-opacity;
        pointer-events: none;
      }
    }

    // 嵌套右侧固定列专属样式
    &.is-fixed-right {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: $table-fixed-shadow-width;
        transform: translate(-100%);
        box-shadow: inset -10px 0 10px -10px $table-shadow-opacity;
        pointer-events: none;
      }
    }
  }

  th.is-fixed-left,
  th.is-fixed-right {
    z-index: 3;
    background-color: var(--#{$namespace}-table-header-bg-color);
  }
}
