@use "@toy-element/theme/src/mixins/mixins.scss" as *;

@include b(table) {
  // CSS 变量定义
  --#{$namespace}-table-border-color: #ebeef5;
  --#{$namespace}-table-header-bg-color: #f5f7fa;
  --#{$namespace}-table-header-text-color: #909399;
  --#{$namespace}-table-row-hover-bg-color: #f5f7fa;
  --#{$namespace}-table-stripe-bg-color: #fafafa;
  --#{$namespace}-table-text-color: #606266;
  --#{$namespace}-table-border-radius: 4px;
  --#{$namespace}-table-bg-color: #fff;

  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--#{$namespace}-able-bg-colort);

  @include e(inner-wrapper) {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @include e(header-wrapper) {
    flex-shrink: 0;
    overflow: hidden;
  }

  @include e(body-wrapper) {
    flex: 1;
    overflow: auto;
  }

  // 表头样式
  @include e(header) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    th {
      padding: 12px 0;
      background-color: var(--#{$namespace}-table-header-bg-color);
      color: var(--#{$namespace}-table-header-text-color);
      font-weight: 600;
      font-size: 14px;
      text-align: left;
      border-bottom: 1px solid var(--#{$namespace}-table-border-color);
      &:nth-last-child(2) {
        border-right: none;
      }
    }
    th.gutter {
      padding: 0;
      border: none;
      background-color: var(--#{$namespace}-table-header-bg-color);
    }
  }

  // 表体样式
  @include e(body) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    td {
      padding: 12px 0;
      border-bottom: 1px solid var(--#{$namespace}-table-border-color);
    }
    // 行悬停效果
    tr:hover {
      background-color: var(--#{$namespace}-table-row-hover-bg-color);
    }
  }

  // 空数据样式
  @include e(empty-cell) {
    text-align: center;
    color: #909399;
    padding: 40px 0 !important;
  }
  // 斑马纹样式
  @include m(stripe) {
    .#{$namespace}-table__body {
      tr:nth-child(even) {
        background-color: var(--#{$namespace}-table-stripe-bg-color);
      }
    }
  }
  // 边框样式
  @include m(border) {
    border: 1px solid var(--#{$namespace}-table-border-color);
    border-radius: var(--#{$namespace}-table-border-radius);
    .#{$namespace}-table__inner {
      border-radius: var(--#{$namespace}-table-border-radius);
    }
    th,
    td {
      border-right: 1px solid var(--#{$namespace}-table-border-color);
      &:last-child {
        border-right: none;
      }
    }
  }

  // 固定高度时
  &.has-fixed-height {
    .#{$namespace}-table__inner-wrapper {
      height: 100%;
    }
  }
}
