$namespace: "er" !default;
$common-separator: "-" !default;
$element-separator: "__" !default;
$modifier-separator: "--" !default;
$state-prefix: "is-" !default;

$B: null !default;

@mixin b($block) {
  $B: $namespace + $common-separator + $block !global;
  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  // 给全局变量e赋值为$element
  $E: $element !global;
  // & 表示当前父级选择器，例如 .er-button
  $selector: &;

  // @at-root 表示将选择器提升到根级，例如 .er-button__element，扁平兄弟节点
  @at-root {
    // #{} 动态生成选择器名
    #{$selector + $element-separator + $E} {
      // @content 占位符，代表用户调用@include e()时写的内容
      @content;
    }
  }
}

/**
 * 生成 BEM 修饰符类（Modifier），如 `--primary`
 * 用法：@include m(primary) { ... }
 * 生成：.当前选择器--primary { ... }
 * 适用于主题、尺寸等结构性变体（如 primary / small / round）
 * 
 * @param {String} $modifier - 修饰符名称，如 'primary'
 */
@mixin m($modifier) {
  $selector: &;
  @at-root {
    #{$selector + $modifier-separator + $modifier} {
      @content;
    }
  }
}

/**
 * 生成状态类样式（如 `is-disabled`）
 * @param {String} $state - 状态名称，如 `'disabled'`
 */
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}
