.docblock-argstable-head th {
  position: relative;
  font-size: 0; /* 隐藏英文原文字 */
}

.docblock-argstable-head th:nth-child(1)::after {
  content: "名称";
  font-size: 14px;
}

.docblock-argstable-head th:nth-child(2)::after {
  content: "描述";
  font-size: 14px;
}

.docblock-argstable-head th:nth-child(3)::after {
  content: "默认值";
  font-size: 14px;
}

.docblock-argstable-head th:nth-child(4)::after {
  content: "控件";
  font-size: 14px;
}
