@use "@toy-element/theme/src/mixins/mixins.scss" as *;

@include b(scrollbar) {
  overflow: hidden;
  position: relative;
  height: 100%;

  @include e(wrap) {
    overflow: auto;
    height: 100%;

    // 隐藏原生滚动条的样式
    @include m(hidden-default) {
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none; // Chrome
      }
    }
  }

  // 轨道容器
  @include e(bar) {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 120ms ease-out; // 平滑过渡

    @at-root .#{$namespace}-scrollbar:hover & {
      opacity: 1;
    }

    &.is-always {
      opacity: 1;
    }

    // 垂直滚动条
    &.is-vertical {
      width: 6px;
      top: 2px;
      bottom: 2px;
      right: 2px;
    }

    // 水平滚动条
    &.is-horizontal {
      height: 6px;
      left: 2px;
      right: 2px;
      top: 2px;
    }
  }

  @include e(thumb) {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(144, 147, 153, 0.3);
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(144, 147, 153, 0.5);
    }

    // 垂直滑块的宽度
    &.is-vertical {
      width: 6px;
    }

    // 水平滑块的高度
    &:not(.is-vertical) {
      height: 6px;
    }
  }
}
