@use "@toy-element/theme/src/mixins/mixins.scss" as *;

@include b(scrollbar) {
  overflow: hidden;
  position: relative;
  height: 100%;

  @include e(wrap) {
    overflow: auto;
    height: 100%;

    // 隐藏原生滚动条的样式
    @include m(hidden-default) {
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none; // Chrome
      }
    }
  }

  // 滚动条
  @include e(bar) {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 120ms ease-out;
  }
}
